@import '../../../assets/styles/mixins';

.portfolio {
	margin-top: 10vh;

	&__cards {
		max-width: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;

		& > div {
			flex-basis: 45%;
			padding-bottom: 45%;

			margin-bottom: 5%;

			@include respond(phone) {
				flex-basis: 100%;
				padding-bottom: 100%;
			}
		}
	}
}
