@import '../../../assets/styles/mixins';

.portfolio {
	margin-top: 10vh;

	&__cards {
		max-width: 100%;
		display: grid;
		grid-auto-columns: 1fr;
		grid-column-gap: 8vw;
		grid-row-gap: 12vh;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;

		@include respond(phone) {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto auto;

			grid-row-gap: 3vh;
		}
	}
}
